#main .row {
  height: 30px;
  white-space: nowrap;
}

#main .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.gradient .square.darkgrey {
  background: radial-gradient(white, darkgrey);
}
.gradient .square.darkgoldenrod {
  background: radial-gradient(white, darkgoldenrod);
}
.gradient .square.darkorange {
  background: radial-gradient(white, darkorange);
}
.gradient .square.darkgreen {
  background: radial-gradient(white, darkgreen);
}
.gradient .square.turquoise {
  background: radial-gradient(white, turquoise);
}
.gradient .square.navy {
  background: radial-gradient(white, navy);
}
.gradient .square.mediumvioletred {
  background: radial-gradient(white, mediumvioletred);
}
.gradient .square.salmon {
  background: radial-gradient(white, salmon);
}
.gradient .square.red {
  background: radial-gradient(white, red);
}

.gradient .square.selected {
  background: radial-gradient(white, gold);
}

.solid .square.darkgrey {
  background-color: darkgrey;
}
.solid .square.darkgoldenrod {
  background-color: darkgoldenrod;
}
.solid .square.darkorange {
  background-color: darkorange;
}
.solid .square.darkgreen {
  background-color: darkgreen;
}
.solid .square.turquoise {
  background-color: turquoise;
}
.solid .square.navy {
  background-color: navy;
}
.solid .square.mediumvioletred {
  background-color: mediumvioletred;
}
.solid .square.salmon {
  background-color: salmon;
}
.solid .square.red {
  background-color: red;
}

.solid .square.selected {
  background-color: gold;
}
